:root {
  --bgcolor: #dbeadb; 
  --fontcolor: #F2F2F2;
  --headcolor: #57BA98;
  --bodycolor: #7b8d80;
}
* {
  font-family: Arial, sans-serif;
  box-sizing: border-box;
}
body{
        padding: 25px;
        font-family: arial;
        width: 30%;
        margin-left: 20%;
        }


.title {
            color: #21703b;
        }


fieldset:nth-child(2) {
             margin-top: 10px;
        }


legend {
            background: rgb(43, 93, 68);
            color: rgb(94, 187, 123);
            padding: 5px;
        }
label {
             color: white
        }

body {
  background-color: var(--bodycolor);
  margin: 0;
  padding: 0;
}
header, footer {
  color: white;
  padding: 10px;
}
header h2{
  color: rgb(12, 128, 97)
}
h1.title{
  text-shadow: 2px 2px rgb(17, 162, 21);
  margin-left: 20px;
}
button:hover {
   background-color: yellow;
}